.app-header {
  a {
    text-decoration: none;
    color: #000;
    padding: 0.5rem;
  }
  button {
    font-size: 1rem;
    background-color: transparent;
    border: none;
    padding: 0.5rem;
  }
}
body {
  /*background-image: url('../../assets/background-image.png');*/
  /*background-repeat: repeat;*/
  background-color: #f9f6f1;
}
