.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}
.ql-toolbar.ql-snow {
  border: 2px solid rgb(229, 231, 231);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: white;
}
.ql-container.ql-snow {
  border: 2px solid rgb(229, 231, 231);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: white;
}
