.home {
  width: 80%;
  margin: 0 auto 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 72rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
