.create-blog {
  width: 80%;
  margin: 0 auto;
  .title {
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #e5e7e7;
  }
  .form-container {
    margin-block: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: max-content 1fr;
    label {
      padding-top: 16px;
    }
    .editor {
      min-height: 540px;
    }
    .submit {
      grid-column: 1 / span 2;
      text-align: center;
      padding-block: 1rem;
      button {
        padding: 0.75rem 5rem;
        border-radius: 8px;
        background-color: #434243;
        color: #fff;
        cursor: pointer;
        &:disabled {
          cursor: not-allowed;
          background-color: #ccc;
        }
      }
    }
  }
}
